footer {
  position: relative;
  background: $primary-bg;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 98px;
  img {
    padding-bottom: 30px;
  }
  p {
    color: $text-color-darkgrey;

    @include respond-to(medium) {
      color: green;
    }
    @include respond-to(small) {
      color: red;
    }
  }
  #up {
    position: fixed;
    top: 90%;
    left: 95%;
    width: 35px;
    height: 35px;
    background: $icons-color;
    border: 1px solid black;
    z-index: 999;
    opacity: .4;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
  }
}
