/* colors */
$header-color: #353434;
$icons-color: #65bf95;
$primary-bg: #f7f7f7;
$intro-color: #3b3b3b;
$text-color: #6b6b6b;
$text-s-color: #9e9e9e;
$text-color-invert: #fff;
$text-color-darkgrey: #b0b0b0;

/* font */
/* font sizing */
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 48px;
$font-size-xxxl: 60px;

/* font type */
$muse-thin: 'Muse-thin';
$muse-light: 'Muse-light';
$muse-medium: 'Muse-medium';
$muse-bold: 'Muse-bold';
$muse-black: 'Muse-black';
